@keyframes borderAnimation {
    0% {
        border-color: #46a45a;
    }

    10% {
        border-color: #35a8d2;
    }

    20% {
        border-color: #a444e4;
    }

    30% {
        border-color: #f340d5;
    }

    40% {
        border-color: #eae24e;
    }

    50% {
        border-color: #85de3c;
    }

    60% {
        border-color: #61dafb;
    }

    70% {
        border-color: #992cd0;
    }

    80% {
        border-color: #ec5dbc;
    }

    90% {
        border-color: #dadf33;
    }

    100% {
        border-color: #96ec4b;
    }

}

.card {
    border: 4px solid #46a45a;
    /* Başlangıç rengi */
    border-radius: 24px;
    padding: 32px;
    animation: borderAnimation 10s infinite;
}