* {
  box-sizing: border-box;
}

.ik-card {
  background-image: url("https://tobeto.com/_next/static/media/ik01.a803b7ad.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 300px;
  border-radius: 14px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.ik-card:before {
  content: url("https://tobeto.com/_next/static/media/dotv.9454a9b6.svg");
  position: absolute;
  top: 12px;
  left: 12px;
  display: block;
  width: 2em;
  height: auto;
}
.ik-card:after {
  content: "";
  background-image: url("https://tobeto.com/_next/static/media/doth.d78dd392.svg");
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 3em;
  background-size: 3em 3em;
  height: 3em;
  background-repeat: no-repeat;
}
@media screen and (max-width: 762px) {
  .ik-card {
    height: 400px !important;
  }
}
